  <!-- Main Nav -->
  {{> master/nav-block}}
  
<div class="main-wrapper">

  

  <!-- Main Section -->
  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12">
          <h2>Ballot: {{ballots.name}}</h2>
        </div>
      </div>

      {{#if user}}
      <form name="ballot" id="ballot">
        <div class="row center">
          <div class="col s4 ballot-card">
            <div class="card-panel teal white-text">
              <div>{{ballots.bet_text_1}}</div>
            </div>
          </div>
          <div class="col s4 ballot-card">
            <div class="card-panel teal white-text">
              <div>{{ballots.bet_text_2}}</div>
            </div>
          </div>
          <div class="col s4 ballot-card">
            <div class="card-panel teal white-text">
              <div>{{ballots.bet_text_3}}</div>
            </div>
          </div>
        </div>
        <div class="row center">
          <div class="col s12">
            <button class="btn waves-effect waves-light" type="submit" name="action" id="submit-ballot">
              Submit
              <i class="material-icons left"></i>
            </button>
          </div>
        </div>
      </form>
      {{else}}
      <div class="row">
        <div class="col s12 center">
          <h3>Sorry, you must be logged in to bet.</h3>
          <p>{{> auth/usernotauthenticated-block}}<p>
        </div>
      </div>
      {{/if}}

  
    </div>
  </div>

  <!-- Second Section -->
  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <div class="col s12">
            <div class="card blue-grey darken-1">
              <div class="card-content white-text">
                <h3 class="">Thank you for betting with BetParty!</h3>
              </div>
            </div>
          </div>
        </div>
      </div><!--/.container-->
    </div><!--/.section-->
    <div class="parallax"><img src="/assets/img/phat_stacks_of_cash.jpg" alt="MAKE IT RAIN."></div>
  </div>
</div>
  <!-- Footer -->
  <footer class="page-footer red">
    <div class="container">
      <div class="row">
        <div class="col m9 s12">
          <h5 class="white-text">About BetParty</h5>
          <p class="grey-text text-lighten-4">It's awesome.</p>
        </div>
        <div class="col m3 s12">
          <h5 class="white-text">View Code on GitHub</h5>
          <ul>
            <li><a class="grey-text text-lighten-4" href="https://github.com/greencord/bets" alt="Link to GitHub repository"><i class="material-icons right">laptop</i> GitHub Repo</a></li>
          </ul>
        </div>
      </div>
    </div>

  </footer>

  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script src="/assets/app.js"></script>