<div class="blue-grey-text text-darken-4">Hello, <span id="currentUser" data-id="{{ user.id }}">{{ user.username }}</span>.</div>
<!--<div>[[Debugging: user.id: {{ user.id }} | user.username {{ user.username }} | user.admin {{ user.admin }}]]</div>-->